{% set currentPath = app.request.get('_route') == 'components' ? 'components' : '' %}
{% set currentUrl = app.request.getSchemeAndHttpHost() %}
{# {% set urlPrefix = app_url == currentUrl ? '' : '/fragment/pwa' %} #}
{% set urlPrefix = app_url == currentUrl ? '' : '' %}
<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <link rel="manifest" href="{{ urlPrefix ~ "/build/manifest.json?brandcode=" ~  brandCode }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset(brandCode ~ '/images/android-chrome-192x192.png', brandCode) }}">

        <link rel="mask-icon" href="{{ asset('/build/' ~ brandCode ~ '_safari-pinned-tab.svg', brandCode) }}" color="#00a1e5">
        <link rel="shortcut icon" href="{{ asset(brandCode ~ '/images/favicon.ico', brandCode) }}">
        <meta name="apple-mobile-web-app-title" content="Vera&amp;John">
        <meta name="application-name" content="Vera&amp;John">
        <meta name="msapplication-TileColor" content="#00a1e5">
        <meta name="theme-color" content="#00a1e5">

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {# {{ encore_entry_link_tags('app') }} #}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

    </head>

    <body>
      <div id="pwa-app" data-brandcode="{{ brandCode }}" data-component="{{ component|default('') }}" data-type="{{ currentPath }}">
      {% block content %}
      {% endblock %}
      </div>

      {% block javascripts %}
        {{ encore_entry_script_tags('app-' ~ brandCode, null, brandCode) }}
      {% endblock %}
    </body>
</html>
